<a href="https://colab.research.google.com/github/Lucas20santos/InteligenciaArtificial/blob/main/RaspagemDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q kora

     |████████████████████████████████| 57 kB 4.5 MB/s
     |████████████████████████████████| 53 kB 2.2 MB/s

In [ ]:
from kora.selenium import wd

import pandas as pd
from google.colab.data_table import DataTable
from time import sleep

In [ ]:
def busca_carteira_teorica(indice, espera=8):
  url = f"https://sistemaswebb3-listados.b3.com.br/indexPage/day/{indice.upper()}?language=pt-br"
  wd.get(url)
  sleep(espera)

  wd.find_element_by_id('segment').send_keys("Setor de Atuação")
  sleep(espera)

  wd.find_element_by_link_text("Download").click()
  sleep(espera)

  arquivos = !ls -1t *.csv
  return pd.read_csv(arquivos[0], sep=";", encoding="ISO-8859-1", skipfooter=2, engine='python', thousands='.', decimal=',', header=1, index_col=False)

In [ ]:
ibov = busca_carteira_teorica('ibov')

In [ ]:
ibov

                              Setor  Código  ... Part. (%) Part. (%)Acum.
0        Bens Indls / Máqs e Equips   WEGE3  ...     2.409          2.409
1       Bens Indls / Mat Transporte   EMBR3  ...     0.623          0.623
2             Bens Indls/Transporte   AZUL4  ...     0.582          2.705
3             Bens Indls/Transporte   CCRO3  ...     0.664          2.705
4             Bens Indls/Transporte   ECOR3  ...     0.166          2.705
..                              ...     ...  ...       ...            ...
79  Utilidade Públ / Energ Elétrica  ENGI11  ...     0.487          5.561
80  Utilidade Públ / Energ Elétrica   ENEV3  ...     0.915          5.561
81  Utilidade Públ / Energ Elétrica   EGIE3  ...     0.434          5.561
82  Utilidade Públ / Energ Elétrica   EQTL3  ...     1.103          5.561
83  Utilidade Públ / Energ Elétrica  TAEE11  ...     0.367          5.561

[84 rows x 7 columns]